PORT= 3000

TOKEN_SECRET=your_secret_key_here

PG_URL=postgres://user:MDP@localhost:5432/omovie

CORS_ORIGIN=*

TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMmZjZGZlYjUwZTlhYWJlOGE0NjNmZTExNjkyMGYwNyIsIm5iZiI6MTcxNTA2Njg1NC44MjYsInN1YiI6IjY2MzlkN2U2NTQ1MDhkMDEyOGQzYjc1NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.5r7Z3pHgr5B_rIqrnyqHl59b2AJpEcOliS7OaWL9zis


NODE_ENV=production

REDIS_PASSWORD=brQhv30MTCbiXmqg1JlapXS55KGygLDz
REDIS_URL=redis-19547.crce202.eu-west-3-1.ec2.cloud.redislabs.com


EMAIL_USER=omovies374@gmail.com

EMAIL_PASS=your-email-password

TOKEN_SECRET=your-jwt-secret
